.xTight {
  padding-bottom: var(--spacing-x-tight);
}

.base {
  padding-bottom: var(--spacing-base);
}

.loose {
  padding-bottom: var(--spacing-loose);
}

.xLoose {
  padding-bottom: var(--spacing-x-loose);
}

.xxLoose {
  padding-bottom: var(--spacing-xx-loose);
}

.xxxLoose {
  padding-bottom: var(--spacing-xxx-loose);
}
