.container {
  margin-top: 2.1875rem;
  @mixin inline-flex-center-all;

  & .actions {
    @mixin inline-flex-center-all;

    & > button + button {
      margin-left: 1.5rem;
    }

    & > .shoppingCard {
      margin-right: 1.5rem;
    }
  }

  @media (--sm-up) {
    margin-top: 0;
  }
}

.menu {
  @media (--sm-up) {
    overflow: hidden;
    border-radius: var(--spacing-base);
  }
}

.scaleUp {
  transform: scale(1.5);
}

.hoverButton {
  @mixin all-transition;

  box-shadow: 0 0 16px rgb(0 0 0 / 8%);

  &:hover {
    box-shadow: 0 4px 12px rgb(51 51 51 / 16%);
  }
}

.moreButton {
  & circle {
    @mixin all-transition;

    fill: var(--color-grey-darker);
  }

  &:hover {
    & circle {
      fill: var(--color-matters-green);
    }
  }
}

.shareButton {
  & path {
    @mixin all-transition;

    stroke: var(--color-grey-darker);
  }

  &:hover {
    & path {
      stroke: var(--color-matters-green);
    }
  }
}

.iconWrapper {
  position: relative;
}

.giftIcon {
  position: absolute;
  left: 0;
  opacity: 0;
  @mixin all-transition;
}

.giftIconHover {
  opacity: 1;
}
