.header {
  @mixin flex-center-space-between;

  padding-top: 5rem;

  & .searchBarWrapper {
    width: 46%;
    @media (--sm-up) {
      width: 65%;
    }
  }
}

.title {
  font-size: var(--font-size-section-title);
  line-height: var(--line-height-section-title);
}

.maxWidth {
  @media (--sm-up) {
    width: var(--container-width-sm-up);
    margin: auto;
  }
}
