.container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--container-width) minmax(0, 1fr);
  overflow: hidden;
  @media (--sm-up) {
    padding-top: 2.5rem;
    padding-bottom: 260px;
  }

  @media (--sm-up) {
    grid-template-columns: minmax(0, 1fr) var(--container-width-sm-up) minmax(
        0,
        1fr
      );
  }

  @media (--lg-up) {
    grid-template-columns: minmax(0, 1fr) var(--container-width-lg-up) minmax(
        0,
        1fr
      );
  }
}

.cardList {
  @mixin hide-scrollbar;

  display: flex;
  grid-column: 2 / -1;
  margin: 1.25rem 0 !important;
  cursor: inherit;

  & > li {
    position: relative;
    flex: 0 0 290px;
    margin-right: var(--spacing-base) !important;
    cursor: inherit;
  }

  & > li:last-child {
    margin-right: 0;
  }

  @media (--sm-up) {
    margin: 0;

    & > li {
      flex: 0 0 420px;
    }
  }
}
