.container {
  margin-top: 10rem;

  & .subtitle {
    @mixin flex-center-space-between;

    & .actions {
      @mixin inline-flex-center-all;

      & > button + button {
        margin-left: 1.5rem;
      }
    }
  }
}

.menu {
  width: 100%;
  text-align: left;
}

.scaleUp {
  transform: scale(1.5);
}

.editing {
  @mixin flex-center-space-between;

  margin: 0.5rem 0 1rem;

  & button + button {
    margin-left: 1.5rem;
  }
}

.gasEstimate {
  color: var(--color-grey-dark);
}

.buttonGroup {
  & > button + button {
    margin-left: 1.5rem;
  }
}

.footer {
  @mixin flex-center-all;

  margin-top: 1.875rem;
}

.hint {
  font-family: var(--font-roboto);
}
