.header {
  @mixin flex-center-space-between;

  font-size: var(--font-size-information-text);
  line-height: var(--line-height-information-text);
}

.leftInfo {
  & > *:last-child {
    position: relative;
    top: 1px;
  }
}

/* . */
.interpunct {
  @mixin inline-flex-center-all;

  width: 1rem;
  padding: 0 var(--spacing-xx-tight);
}
