.header {
  @mixin flex-center-space-between;

  font-size: var(--font-size-information-text);

  @media (--sm-up) {
    line-height: 1.5rem;
  }
}

/* . */
.interpunct {
  @mixin inline-flex-center-all;

  width: 1rem;
  padding: 0 var(--spacing-xx-tight);
}
