.hero {
  display: grid;
  grid-template-areas:
    "intro"
    "dynamic"
    "buttons";
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
  min-height: 100vh;
  margin: 1rem;
  margin-top: 5rem;

  @media (--sm-up) {
    grid-template-areas:
      "intro dynamic"
      "buttons dynamic";
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    margin-right: 60px;
    margin-left: 180px;
  }

  & .intro {
    grid-area: intro;
    place-self: center;

    & h2 {
      font-size: 36px;
      font-weight: bold;
      line-height: 48px;
      color: #333;

      @media (--sm-up) {
        font-size: 64px;
        line-height: 80px;
      }
    }

    & .subtitle {
      /* @mixin text-fill-gradient-color; */

      margin-top: var(--spacing-tight);
      font-size: 24px;
      font-weight: var(--font-weight-bold);
      line-height: 32px;
      background-image: var(--color-heavy-metal);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      background-size: 100%;

      @media (--sm-up) {
        font-size: 36px;
        line-height: 48px;
      }
    }
  }

  & .dynamic {
    grid-area: dynamic;
    border: 0;
  }

  & .buttons {
    display: flex;
    flex-direction: column;
    grid-area: buttons;
    gap: 1.5rem;
    width: 100%;
    text-align: center;

    @media (--sm-up) {
      flex-direction: row;
      align-self: flex-start;
    }

    & button {
      font-size: var(--font-size-lg);
    }
  }

  & .leftRadial {
    position: absolute;
    top: 164px;
    left: 0;
    z-index: -1;
    width: 201px;
    height: 523px;
    background-image: radial-gradient(
      109.17% 51.66% at -1.6% 52.2%,
      rgb(106 120 255 / 41.3%) 0%,
      rgb(109 123 255 / 32.6%) 21%,
      rgb(119 132 255 / 25.8%) 36%,
      rgb(135 147 255 / 19.8%) 51%,
      rgb(158 168 255 / 14.11%) 64%,
      rgb(188 195 255 / 8.72%) 78%,
      rgb(225 228 255 / 3.59%) 90%,
      rgb(255 255 255 / 0%) 100%
    );
    background-position: left;
  }

  & .rightRadial {
    position: absolute;
    top: 62px;
    right: 0;
    z-index: -1;
    width: 298px;
    height: 774px;
    background-image: radial-gradient(
      109.17% 51.66% at 101.61% 47.8%,
      rgb(251 134 255 / 28.7%) 0%,
      rgb(251 137 255 / 22.11%) 22.6%,
      rgb(251 147 255 / 17.03%) 40.03%,
      rgb(252 163 255 / 12.45%) 55.73%,
      rgb(253 186 255 / 8.17%) 70.41%,
      rgb(254 216 255 / 4.1%) 84.38%,
      rgb(255 253 255 / 0.22%) 97.65%,
      rgb(255 255 255 / 0%) 100%
    );
    background-position: right;
  }
}
