.hero {
  margin-bottom: var(--spacing-x-loose);

  & .content {
    display: grid;
    grid-template-areas:
      "intro"
      "dynamic"
      "buttons";
    grid-template-columns: minmax(0, 1fr);
    justify-items: center;
    min-height: calc(100vh - 16rem);
    margin: var(--spacing-base);

    @media (--md-up) {
      grid-template-areas:
        "intro dynamic"
        "buttons dynamic";
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    & .intro {
      grid-area: intro;
      place-self: center;

      & h2 {
        font-size: var(--font-size-banner-title);
        font-weight: var(--font-weight-banner-title);
        line-height: var(--line-height-banner-title);
        color: var(--color-black);
      }

      & .subtitle {
        @mixin text-fill-gradient-color;

        margin-top: var(--spacing-tight);
        font-size: var(--font-size-section-title);
        font-weight: var(--font-weight-bold);
        line-height: var(--line-height-section-title);
        background-image: var(--color-heavy-metal);
      }

      @media (--sm-up) {
        margin-top: 3rem;
      }
    }

    & .dynamic {
      position: relative;
      z-index: var(--z-index-behind);
      grid-area: dynamic;
      width: 100%;
      overflow: hidden;

      & .arrowHero {
        display: none;
      }

      @media (--md-up) {
        margin-right: var(--spacing-xxx-loose);
        margin-left: var(--spacing-base);

        & .arrowHero {
          position: absolute;
          right: calc(50%);
          bottom: 0;
          display: block;
          width: 46px;
          height: 119px;
          background-image: url("/images/arrow-hero.svg");
        }
      }
    }

    & .buttons {
      display: flex;
      flex-direction: column;
      grid-area: buttons;
      gap: var(--spacing-loose);
      width: 100%;
      margin-top: var(--spacing-base);
      text-align: center;

      @media (--md-up) {
        flex-direction: row;
        align-self: flex-start;
      }
    }
  }

  & .leftRadial {
    position: absolute;
    top: 164px;
    left: 0;
    z-index: var(--z-index-behind);
    width: 149px;
    height: 387px;
    background-image: radial-gradient(
      109.17% 51.66% at -1.6% 52.2%,
      rgb(106 120 255 / 41.3%) 0%,
      rgb(109 123 255 / 32.6%) 21%,
      rgb(119 132 255 / 25.8%) 36%,
      rgb(135 147 255 / 19.8%) 51%,
      rgb(158 168 255 / 14.11%) 64%,
      rgb(188 195 255 / 8.72%) 78%,
      rgb(225 228 255 / 3.59%) 90%,
      rgb(255 255 255 / 0%) 100%
    );
    background-position: left;

    @media (--md-up) {
      width: 201px;
      height: 523px;
    }
  }

  & .rightRadial {
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--z-index-behind);
    width: 144px;
    height: 375px;
    background-image: radial-gradient(
      109.17% 51.66% at 101.61% 47.8%,
      rgb(251 134 255 / 28.7%) 0%,
      rgb(251 137 255 / 22.11%) 22.6%,
      rgb(251 147 255 / 17.03%) 40.03%,
      rgb(252 163 255 / 12.45%) 55.73%,
      rgb(253 186 255 / 8.17%) 70.41%,
      rgb(254 216 255 / 4.1%) 84.38%,
      rgb(255 253 255 / 0.22%) 97.65%,
      rgb(255 255 255 / 0%) 100%
    );
    background-position: right;

    @media (--md-up) {
      top: 62px;
      width: 298px;
      height: 774px;
    }
  }
}
