.container {
  font-size: var(--font-size-information-text);
  font-weight: var(--font-weight-information-text);
  line-height: var(--line-height-information-text);
  color: var(--color-grey);

  & span:first-child {
    display: inline-block;
    padding-right: var(--spacing-x-tight);
  }

  & span:last-child {
    vertical-align: baseline;
  }
}
