.container {
  padding: var(--spacing-base);
  background: var(--color-white);
  border-radius: 1.25rem;
  box-shadow: 0 4px 18px rgb(0 0 0 / 4%);

  @media (--sm-up) {
    padding: var(--spacing-loose);
  }
}

.markdown {
  & img {
    max-width: 100%;
  }

  & hr {
    display: block;
    width: 10rem;
    height: 0.25rem;
    margin: 1.5rem auto;

    /* padding: 1rem 0; */
    border-color: #2e2e2e;
    border-width: 1px 0;
    border-top-color: rgb(0 0 0 / 24%);
    border-top-style: solid;
    border-bottom-color: rgb(0 0 0 / 24%);
    border-bottom-style: solid;
  }

  & a:link,
  & a:visited {
    color: var(--color-gradient-green-start);
    text-decoration: underline;
  }

  &:not(pre) > code,
  & pre {
    background-color: #ededed;
  }

  & code,
  & pre {
    color: var(--color-black);
  }
}

.footer {
  @mixin flex-center-start;

  margin-top: 1.5rem;
  font-size: var(--font-size-article-body);
  font-weight: var(--font-weight-article-body);
  line-height: var(--line-height-article-body);
  color: var(--color-grey-dark);

  & > a,
  & > span {
    margin-right: var(--spacing-base);
  }

  & > span:last-child {
    margin-right: 0;
  }

  @media (--sm-up) {
    margin-top: 2rem;
  }
}
