/* @styled-jsx=global */

/* Layouts
   ========================================================================== */
@define-mixin flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}

@define-mixin flex-center-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@define-mixin flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@define-mixin flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@define-mixin flex-start-space-between {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@define-mixin flex-start-center {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@define-mixin flex-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@define-mixin flex-end-space-between {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@define-mixin inline-flex-center-all {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@define-mixin inline-flex-center-start {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

@define-mixin inline-flex-center-end {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
}

/* Form
   ========================================================================== */
@define-mixin form-input {
  @mixin all-transition;

  padding: var(--spacing-base) var(--spacing-base);
  font-size: var(--font-size-sm);
  background-color: var(--color-grey-lighter);
  border-radius: 0.5rem;

  &:disabled {
    color: var(--color-grey-darker);
  }

  &::placeholder {
    color: var(--color-grey-light);
    opacity: 1; /* Firefox */
  }

  &:-webkit-autofill::first-line {
    font-size: var(--font-size-sm);
  }
}

/* Utilities
   ========================================================================== */
@define-mixin expand-to-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@define-mixin safe-area-botttom {
  &::after {
    display: block;
    padding-bottom: env(safe-area-inset-bottom);
    content: "";
  }
}

@define-mixin object-fit-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@define-mixin all-transition {
  transition: all 0.2s ease-in-out;
}

@define-mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
}

@define-mixin line-clamp {
  display: box;
  -webkit-line-clamp: 1;

  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@define-mixin hide-scrollbar {
  /* IE 10+ */
  -ms-overflow-style: none;

  /* Firefox */
  overflow: -moz-scrollbars-none;

  /* Chrome & Safari */
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
