.container {
  @mixin flex-center-start;

  flex-direction: column;
  padding-top: var(--spacing-xxx-loose);

  & .intro,
  & .links {
    width: 100%;
  }

  @media (--md-up) {
    @mixin flex-center-space-between;

    flex-direction: row;
    align-items: flex-start;

    & .intro,
    & .links {
      width: 49%;
    }
  }
}

.intro {
  @mixin flex-center-start;

  flex-direction: column;
  align-items: flex-start;

  & .subtitle {
    margin-top: var(--spacing-tight);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    background-image: var(--color-heavy-metal);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  & .content {
    margin-top: var(--spacing-loose);
    font-size: var(--font-size-sm);
    line-height: 1.25;
    color: var(--color-grey-darker);
  }

  @media (--md-up) {
    padding-top: var(--spacing-loose);

    & .subtitle {
      margin-top: var(--spacing-loose);
      font-size: var(--font-size-lg);
    }

    & .content {
      font-size: var(--font-size-md-s);
      line-height: 1.5;
    }
  }
}

.links {
  margin-top: var(--spacing-x-loose);
  font-size: var(--font-size-md-s);
  font-weight: var(--font-weight-bold);
  color: var(--color-grey-darker);
  text-align: center;

  & ul {
    & li {
      padding-bottom: var(--spacing-x-loose);
    }
  }

  @media (--md-up) {
    @mixin flex-center-end;

    margin-top: 0;
    font-size: var(--font-size-md);

    & ul {
      width: 65%;
      text-align: left;

      & li {
        padding-bottom: 6rem;
      }
    }
  }
}
