.header {
  /* display: flex; */
  @mixin flex-center-space-between;

  justify-content: flex-end;

  @media (--md-up) {
    justify-content: space-between;
  }

  width: 100%;
  padding: 2.5rem 1.125rem 0;

  @media (--md-up) {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: var(--z-index-header);
}
