.showcase {
  position: relative;
  z-index: var(--z-index-base);
  padding: 4rem 0;
  overflow: hidden;

  @media (--md-up) {
    padding: 6rem 0;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-behind);
    display: block;
    width: 100%;
    max-width: 822px;
    height: 100vw;
    max-height: 822px;
    margin: auto;
    content: "";
    background: radial-gradient(
      50% 50% at 50% 50%,
      #f8d8f9 0%,
      #fcedfc79 52.6%,
      #fff0 100%
    );
  }
}

.header {
  margin: 0 0 var(--spacing-xx-loose);

  @media (--sm-up) {
    margin: 0 0 var(--spacing-xxx-loose);
  }

  & .title {
    font-size: var(--font-size-section-title);
    line-height: var(--line-height-section-title);
    color: var(--color-black);
    text-align: center;
  }
}

.swiper {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--container-width) minmax(0, 1fr);
  overflow: hidden;

  @media (--sm-up) {
    grid-template-columns: minmax(0, 1fr) var(--container-width-sm-up) minmax(
        0,
        1fr
      );
  }

  @media (--lg-up) {
    grid-template-columns: minmax(0, 1fr) var(--container-width-lg-up) minmax(
        0,
        1fr
      );
  }
}

.figure {
  position: relative;
  width: 108px;
  height: 123px;
  margin: 80px auto 0;
  clip-path: path(
    "M.017,73.617c.763-31.645,14.87-38.89,35.459-60.241,30.884-25.545,51.473-12.2,66.343,20.589s3.05,73.966-36.985,86.167S-.746,105.262.017,73.617Z"
  );

  @media (--md-up) {
    width: 200px;
    height: 228px;
    margin: 0 auto;
    clip-path: path(
      "M0.030766 136.327C1.44292 77.7242 27.5678 64.3091 65.6961 24.7699C122.889 -22.5358 161.017 2.17614 188.554 62.897C216.091 123.618 194.202 199.872 120.064 222.466C45.9259 245.06 -1.38139 194.93 0.030766 136.327Z"
    );
  }

  & .image {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
  }

  &::before {
    z-index: var(--z-index-above);
    background-color: #c4c4c4;
    opacity: 0.5;
  }

  &::after {
    z-index: var(--z-index-header);
    background-image: url("/images/showcase-overlay.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    mix-blend-mode: overlay;
  }
}

.content_title {
  margin: 0 0 var(--spacing-x-tight);

  @media (--md-up) {
    margin: 0 0 var(--spacing-base);
  }

  & .content_title_h3 {
    font-size: var(--font-size-article-title);
    line-height: var(--line-height-article-title);
    color: var(--color-black);
  }
}

.content_text {
  margin: 0 0 var(--spacing-base);

  @media (--md-up) {
    margin: 0 0 var(--spacing-loose);
  }

  & .content_text_p {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: var(--font-size-article-body);
    line-height: var(--line-height-article-body);
    color: var(--color-grey-darker);

    @media (--md-up) {
      -webkit-line-clamp: 1;
    }
  }
}

.wallet {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  & .wallet_avatar {
    width: 60px;
    height: 32px;
    background-image: url("/images/showcase-avatar-m.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media (--md-up) {
      width: 118px;
      height: 36px;
      background-image: url("/images/showcase-avatar.png");
    }
  }

  & .wallet_address {
    padding: var(--spacing-xx-tight) var(--spacing-tight);
    font-size: var(--font-size-article-body);
    line-height: var(--line-height-article-body);
    color: var(--color-white);
    background: var(--color-black);
    border-radius: 16px;

    @media (--md-up) {
      -webkit-line-clamp: 1;
    }
  }
}
