.showcase {
  position: relative;
  width: 100vw;
  padding: 60px 0;
  overflow: hidden;

  @media (--md-up) {
    padding: 100px 0;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--z-index-behind);
    display: block;
    width: 100%;
    max-width: 822px;
    height: 100vw;
    max-height: 822px;
    margin: auto;
    content: "";
    background: radial-gradient(
      50% 50% at 50% 50%,
      #f8d8f9 0%,
      #fcedfc79 52.6%,
      #fff0 100%
    );
  }
}

.header {
  margin: 0 0 var(--spacing-xx-loose);

  @media (--sm-up) {
    margin: 0 0 var(--spacing-xxx-loose);
  }

  & .title {
    font-size: var(--font-size-section-title);
    line-height: var(--line-height-section-title);
    color: var(--color-black);
    text-align: center;
  }
}

.figure {
  position: relative;
  width: 108px;
  height: 123px;
  margin: 80px auto 0;
  clip-path: url("#clipping");

  @media (--md-up) {
    width: 200px;
    height: 228px;
    margin: 0 auto;
  }

  & .image {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    object-fit: cover;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
  }

  &::before {
    z-index: var(--z-index-above);
    background-color: #c4c4c4;
    opacity: 0.5;
  }

  &::after {
    z-index: var(--z-index-header);
    background-image: url("/images/showcase-overlay.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    mix-blend-mode: overlay;
  }
}

.content_title {
  margin: 0 0 var(--spacing-x-tight);

  @media (--md-up) {
    margin: 0 0 var(--spacing-base);
  }

  & .content_title_h3 {
    font-size: var(--font-size-article-title);
    line-height: var(--line-height-article-title);
    color: var(--color-black);
  }
}

.content_text {
  margin: 0 0 var(--spacing-base);

  @media (--md-up) {
    margin: 0 0 var(--spacing-loose);
  }

  & .content_text_p {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: var(--font-size-article-body);
    line-height: var(--line-height-article-body);
    color: var(--color-grey-darker);

    @media (--md-up) {
      -webkit-line-clamp: 1;
    }
  }
}

.wallet {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  & .wallet_avatar {
    width: 60px;
    height: 32px;
    background-image: url("/images/showcase-avatar-m.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    @media (--md-up) {
      width: 118px;
      height: 36px;
      background-image: url("/images/showcase-avatar.png");
    }
  }

  & .wallet_address {
    padding: var(--spacing-xx-tight) var(--spacing-tight);
    font-size: var(--font-size-article-body);
    line-height: var(--line-height-article-body);
    color: var(--color-white);
    background: var(--color-black);
    border-radius: 16px;

    @media (--md-up) {
      -webkit-line-clamp: 1;
    }
  }
}
