.container {
  @media (--sm-up) {
    @mixin flex-center-start;

    flex-direction: column;
  }
}

.item {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 1.5rem;
  }

  @media (--sm-up) {
    width: var(--container-width-sm-up);
  }
}
