.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding: var(--spacing-base);
  overflow-y: auto;
  font-size: var(--font-size-md-s);
  line-height: 1.5rem;
  -webkit-overflow-scrolling: touch;

  @media (--sm-up) {
    padding: var(--spacing-base) var(--spacing-xxx-loose);
  }

  & > p {
    color: var(--color-grey-darker);
  }

  & > * + * {
    margin-top: var(--spacing-loose);
  }

  & a {
    @mixin all-transition;

    &:link,
    &:visited {
      color: var(--color-matters-green);
    }
  }
}
