.footer {
  @mixin flex-center-space-between;

  flex-direction: column;
  row-gap: 1rem;
  column-gap: 10rem;
  margin: var(--spacing-xx-loose);

  @media (--sm-up) {
    flex-direction: row;
  }

  & .iconlinks {
    @mixin flex-center-space-between;

    width: 100%;
  }

  & .designerlogo > div {
    @mixin text-fill-gradient-color;

    background-color: var(--color-blue-green);
    background-image: var(--color-blue-green);
  }

  & .links {
    @mixin flex-center-space-between;

    & div {
      @mixin text-fill-gradient-color;

      margin: 0 var(--spacing-tight);
      background-color: var(--color-blue-green);
      background-image: var(--color-blue-green);
    }
  }
}
