.footer {
  @mixin flex-center-space-between;

  flex-direction: column;
  row-gap: 1rem;
  column-gap: 10rem;
  margin: var(--spacing-xx-loose);

  /* @mixin text-fill-gradient-color; */
  background-image: var(--color-blue-green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  @media (--sm-up) {
    flex-direction: row;
  }

  & .iconlinks {
    @mixin flex-center-space-between;

    width: 100%;
  }

  & .links {
    @mixin flex-center-space-between;

    & div {
      margin: 0 var(--spacing-tight);
    }
  }
}
